<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>

        <select ng-model="selectedName" ng-options="car.name for car in mycars track by car.id"></select>

        <!--    <ul type="square" ng-repeat = "car in mycars">
                <li>{{car.name}}</li>
            </ul>-->
        <br/>
        <button ng-click="hideClickHandler()">Hide</button>
        <hr/>
        <pre>model = {{selectedName | json}}</pre>
        <pre ng-hide="isHidden">model = {{selectedName}}</pre>
        <pre>model = {{selectedName.id}} {{selectedName.name}} {{selectedName.year}}</pre>

        <div ng-class="myclass">myclass</div>

        <ul>
            <li ng-repeat="name in names">{{name | filter:search}}</li>
        </ul>

        <table>
            <tbody>
            <tr ng-repeat="car in mycars">
                <td>{{car.name}}</td>
                <td>{{car.year}}</td>
            </tr>
            </tbody>
        </table>


        <!--    <pre>model = {{selectedName.toString()}} </pre> -->
        <br/>


        <p>Add Car</p>

        <form>
            <input type="text" ng-model="newCar.name"/>
            <br/>
            <input type="text" ng-model="newCar.year"/>
            <br/>
            <button ng-click="addCmd()">Add car</button>

        </form>

        <hr/>
        <br/>
        <button ng-click="restloader()">Rest loader</button>

        <br/>

        <table>
            <thead>
                <tr>Name</tr>
                <tr>Year</tr>
            </thead>
            <tbody>
            <tr ng-repeat="car in restcars">
                <td>{{car.name}}</td>
                <td>{{car.year}}</td>
            </tr>
            </tbody>
        </table>





    </div>
</div>