<div>
    <form novalidate name="myForm">
        <input type="text" class="username" name="uname" ng-model="ctrl.user.username" required="" placeholder="Username" ng-minlength="4"/><br/>

        <input type="password" class="password" name="pwd" ng-model="ctrl.user.password" placeholder="Password" required=""/><br/>

        <br/>
        <br/>
        <ng-form name="profile">
            <input type="text" name="firstName" ng-model="ctrl.user.profile.firstName" placeholder="First Name" required/><br/>
            <input type="text" name="middleName" placeholder="Middle Name" ng-model="ctrl.user.profile.middleName"/><br/>
            <input type="text" name="lastName" placeholder="Last Name" ng-model="ctrl.user.profile.lastName" required/><br/>
            <input type="date" name="dob" placeholder="Date Of Birth" ng-model="ctrl.user.profile.dob"/>
        </ng-form>

        <span ng-show="myForm.profile.$invalid"><br/>
        Please fill out the profile information
      </span><br/>
        Nested Forms with ng-form | 61<br/>
        <input type="submit" value="Submit" ng-disabled="myForm.$invalid"/><br/>
    </form>
</div>